.textContainer {
  display: flex;
  flex-direction: column;
  color: #353535;
  justify-content: space-between;
  position: relative;
}

.activeContainer {
  display: flex;
  align-items: center;
}

.activeItem {
  display: flex;
  align-items: center;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}
.ribbon{
  position: absolute;
  top: 0px;
  right: 0px;
  font-style: normal;
  font-size: 1.5em;
}