.innerFileContainer {
  bottom: 10%;
  right: 0;
  padding-right: 10px;
}

.fileName {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
}

.fileMark {
  font-size: 1.1em;
  padding: 0 0.3em;
}

.form-group {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
  visibility: hidden;
}


